body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
}
.conferences {
    display: flex;
}
.conference {
    flex:1;
    align-items: center;
    margin: 1rem;
    font-weight:bold;
}
.conference img {
    aspect-ratio: 1/1;
    object-fit: contain;
}
h1, h2 {
    color: #e83e8c;
}
p {
    color: #343a40;
}
img {
    width: 100%;
    cursor: pointer;
}

footer {
    text-align:center;
    margin-top:3rem;
}